<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="yeji.mjc.gittest">

    //인터넷 사용 권한 파이어베이스를 위해 +카카오
    <uses-permission android:name="android.permission.INTERNET"/>

    //GPS와 네트워크를 사용하여 사용자의 정확한 위치 정보를 가져온다
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    //네트워크만 사용하여 사용자의 대략적인 위치 정보만을 가져온다
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    //바코드 카메라
    <uses-feature android:name="android.permission.CAMERA"/>

    //파이어베이스 이미지 저장용
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    //카메라를 위한
    <uses-feature android:name="android.hardware.Camera" android:required="true"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/Theme.GitTest"
        android:name=".KakaoApplication"
        tools:targetApi="31"
        android:usesCleartextTraffic="true" >
        <provider
            android:authorities="yeji.mjc.gittest.fileProvider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data android:host="oauth"
                    android:scheme="kakao64551003f034bdc438ee13c677e73f8a" />
            </intent-filter>
        </activity>

        <activity android:name=".Barcode" android:theme="@style/DialogTheme"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".register.Register"/>
        <activity android:name=".cart.Cart_Map"/>
        <activity android:name=".cart.CartPlus" android:theme="@style/DialogTheme" />
        <activity android:name=".cart.CartDialog" android:theme="@style/DialogTheme" />
        <activity android:name=".FoodBattle_IMG_Upload" android:theme="@style/DialogTheme"/>
        <activity android:name=".FoodSearch.FoodSearch" android:theme="@style/DialogTheme"/>
        <activity android:name=".FoodSearch.Allergy" android:theme="@style/DialogTheme"/>
        <activity android:name=".comunity.TipComment" />
        <activity android:name=".frige.FridgePlus" android:theme="@style/DialogTheme"/>
        <activity android:name=".FoodSearch.Food_expiry" android:theme="@style/DialogTheme"/>
        <activity android:name=".comunity.FightGo" android:theme="@style/DialogTheme"/>
        <activity android:name=".comunity.New_fight_sub" android:theme="@style/DialogTheme"></activity>
        <activity android:name=".comunity.Select_date_sub"></activity>
        <activity android:name=".comunity.PlusComm"></activity>
        <activity android:name=".comunity.Comm_kind"></activity>
        <activity android:name=".comunity.LifeCommnet"></activity>
        <activity android:name=".comunity.Ready"></activity>


    </application>

</manifest>