<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="yeji.mjc.gittest">

    //인터넷 사용 권한 파이어베이스를 위해 (+카카오도 씀)
    <uses-permission android:name="android.permission.INTERNET"/>

    //바코드 카메라
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/Theme.GitTest"
        android:name=".KakaoApplication"
        tools:targetApi="31">
        <activity
            android:name=".StartPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data android:host="oauth"
                    android:scheme="kakao17d02b02412588cc1e7d721a2982c0a3" />
            </intent-filter>
        </activity>

        <activity android:name=".Barcode" android:theme="@style/DialogTheme"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".HomeBattle" />
        <activity android:name=".register.Register"/>
        <activity android:name=".FoodSearch.FoodSearch" android:theme="@style/DialogTheme"/>
        <activity android:name=".FoodSearch.Allergy" android:theme="@style/DialogTheme"/>
        <activity android:name=".comunity.TipComment" android:theme="@style/DialogTheme"/>
        <activity android:name=".FoodSearch.FridgePlus" android:theme="@style/DialogTheme"/>
        <activity android:name=".mypage.Bellset1" android:theme="@style/DialogTheme"/>
        <activity android:name=".comunity.New_fight_sub" android:theme="@style/DialogTheme"></activity>
        <activity android:name=".comunity.New_friend_sub" android:theme="@style/DialogTheme"></activity>
        <activity android:name=".comunity.Select_date_sub" android:theme="@style/DialogTheme"></activity>

    </application>

</manifest>