<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="yeji.mjc.gittest">

    //인터넷 사용 권한 파이어베이스를 위해
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GitTest"
        tools:targetApi="31">
        <activity
            android:name=".StartPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"/>
        <activity android:name=".register.Register"/>
        <activity android:name=".FoodSearch.FoodSearch" android:theme="@style/DialogTheme"/>
        <activity android:name=".FoodSearch.Allergy" android:theme="@style/DialogTheme"/>
        <activity android:name=".comunity.TipComment" android:theme="@style/DialogTheme"/>
        <activity android:name=".FoodSearch.FridgePlus" android:theme="@style/DialogTheme"/>

    </application>

</manifest>